.product-info img {
  width: 60%;
  border-radius: 0 15px 0 15px;
}

.product-info h1 {
  color: #FF9933;
  font-weight: 700;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.7);
}

.product-info h2 {
  font-weight: 700;
}

.product-info h3 {
  opacity: 0.7;
}
