<%# <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> %>

<div class="banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%=image_url('home_picture.jpg') %>);">
  <div class="container">
    <h1><strong>CAR FOR ALL !</strong></h1>
    <p>Rent your neighbor's car.</p>
    <p>Simply !</p>
    <br>
    <%= link_to "Search now !", cars_path, class: "btn btn-ghost" %>
  </div>
</div>
<div class="container mt-5 d-flex justify-content-between">
  <div>
    <h3><strong>CLOSE TO YOU</strong></h3>
    <p>Find a vehicule near you easily thanks to the geographical location</p>
  </div>
  <div>
    <h3><strong>SAVE MONEY</strong></h3>
    <p>Advantageous rental for both the owner and the tenant</p>
  </div>
  <div>
    <h3><strong>FOR A DAY OR FOR A WEEK</strong></h3>
    <p>Determine the duration of your choice, everything is possible !</p>
  </div>
</div>
