.btn-ghost {
  color: white;
  background: #FF9933;
  // border: 1px solid #4A4A4A;
  padding: 1rem 2rem;
  height: 100%;
  border-radius: 0 15px 0 15px;
  font-size: 1.5rem;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}
